@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); 

/*-------------------------------------------------*/
/*----------------BASIC------------------*/
/*-------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-image: url(/css/img/bg.jpg);
    color: #ffffff;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*----------------REUSE------------------*/

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    width: 75%;
    text-align: center;
}

p {
    line-height: 145%;
    font-size: 150%;
}

section {
    padding: 0 15em 10em 15em;
}

/*----------------BUTTONS------------------*/

.btn {
    border: 2px solid #e6331f;
    padding: 1% 3%;
    font-size: 200%;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 2px;
}

/*-------------------------------------------------*/
/*----------------FOOTER------------------*/
/*-------------------------------------------------*/

footer {
    height: 25vh;
    background-color: teal;
    padding: 3%;
}

footer nav {
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
}

.footer-links li {
    margin-left: 3em;
}

.footer-links a {
    font-size: 120%;
    text-transform: uppercase;
    color: yellow;
}

.footer-links a:hover {
    color: #ffffff;
    transition: color .2s;
}

.social-links li {
    margin-right: 3em;
}

.social-links i {
    font-size: 2em;
    color: yellow;
}

.footer-copy {
    display: block;
    text-align: center;
    margin-top: 3em;
    font-weight: 100;
    color: yellow;
}

.social-links .linkedin:hover {
    color: #007bb5;
    transition: color .2s;
}

.social-links .facebook:hover {
    color: #3b5998;
    transition: color .2s;
}

.social-links .twitter:hover {
    color: #55acee;
    transition: color .2s;
}

.social-links .github:hover {
    color: #000000;
    transition: color .2s;
}

.social-links .instagram:hover {
    color: #e95950;
    transition: color .2s;
}