
h1,h2,h3,h4,h5 {
    text-transform: uppercase;
}

h1 {
    font-size: 400%;
    margin: 0;
    letter-spacing: 4px;
}

h2 {
    font-size: 300%;
    letter-spacing: 4px;
    margin-bottom: .5em;
    font-weight: 100;
}

h3 {
    font-size: 200%;
    letter-spacing: 2px;
    margin-bottom: .2em;
    color: yellow;
    font-weight: 100;
}

h4 {
    font-size: 170%;
    margin-bottom: .2em;
    letter-spacing: 2px;
    font-weight: 100;
}

h5 {
    font-size: 150%;
    letter-spacing: 2px;
    font-weight: 100;
    
}

.row1 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

section {
    padding: 10em 0 0 0;
}

p {
    text-align: justify;
    font-weight: 100;
}

/*-------------------------------------------------*/
/*----------------HEADER------------------*/
/*-------------------------------------------------*/

header {
    background-color: purple;
    height: 15vh;
    padding: 3em;
}

/*-------------------------------------------------*/
/*----------------Section------------------*/
/*-------------------------------------------------*/

.section-edu ul {
    margin-top: 3em;
}

.project {
    margin-bottom: 10em;
}

.exp-list {

    list-style-type: disc;
    width: 60%;
    text-align: justify;
    margin:  0 auto;
}

.exp-list li {
    margin-bottom: 1em;
    font-size: 150%;
    font-weight: 100;
}