/*----------------HEADING------------------*/

h1,h2,h3 {
    text-transform: uppercase; 
    word-spacing: 2px;
}

h1 {
    font-size: 350%;
    letter-spacing: 4px;
    margin: 0;
    padding-top: 2em;
}

h2 {
    font-size: 150%;
    letter-spacing: 2px;
}

/*-------------------------------------------------*/
/*----------------HEADER------------------*/
/*-------------------------------------------------*/

header {  
    background-color: #e6331f;
    width: 20%;
    height: 70vh;
    position: absolute;
    left: 75%;
    position: fixed;
}

.main-nav {
    text-align: center;
    margin-top: 20%;
}

.main-nav li {
    margin-bottom: 3em;
}

.main-nav a {
    color: #ffffff;
    font-size: 200%;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: yellow;
    transition: color .2s
}

.logo {
    height: 7em;
    margin-bottom: 2em;
}

/*-------------------------------------------------*/
/*----------------PROFILE------------------*/
/*-------------------------------------------------*/

.section-profile {
    height: 100vh;
}

.profile-pic {
    margin-top: 3em;
}

.profile-pic {
    height: 15em;
    border-radius: 50em;
}

.section-profile article {
    margin-top: 3em;
}

.section-profile h2 {
    font-size: 250%;
    color: #e6331f;
}

.article-about h3{
    margin-top: 1em;
    letter-spacing: 1px;
    font-size: 150%;
}

.article-about p {
    text-transform: uppercase;
    margin-top: .5em;
}

/* .text-copy {
    width: 70%;
    margin: 2em auto 0 auto;
} */

/*-------------------------------------------------*/
/*----------------ABOUT------------------*/
/*-------------------------------------------------*/

.section-about h2 {
    font-size: 300%;
    color: yellow;
    letter-spacing: 2px;
    font-weight: 100;
}

.section-about p {
    margin-top: 2em;
    text-align: justify;
}


/*-------------------------------------------------*/
/*----------------SKILLS------------------*/
/*-------------------------------------------------*/

.section-skill p {
    margin-top: 2em;
    text-align: justify;
}

.section-skill h2 {
    font-size: 300%;
    color: yellow;
    letter-spacing: 2px;
    font-weight: 100;
}

.icon-skill i{
    color: #555555;
    font-size: 5em;
}

.icon-skill {
    display: flex;
    justify-content: space-evenly;
    margin: 3em;
}

.resume-btn {
    display: block;
    width: 8em;
    margin: 2em auto;
}

.resume-btn:hover {
    background-color: #e6331f;
    transition: background-color .2s;
}

.icon-prog {
    color: yellow;
}

.article-design {
    margin-top: 5em;
}

/*-------------------------------------------------*/
/*----------------PROJECT------------------*/
/*-------------------------------------------------*/

.section-projects h2 {
    font-size: 300%;
    color: yellow;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: .5em;
}

.project-box {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.project-box img {
    height: 20em;
    max-width: 100%;
}

